<!-- Schedule maintanence -->
<div class="col-12 col-md-2 col-xl-5" style="margin: auto; padding-top: 100px; padding-bottom: 30px; width: 800px;">
  <div class="card border-0 rounded-4" style="background-color: #f6f6f6;">
    <div class="card-body p-5">
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <h3 style="font-weight: bold;">Scheduled Maintenance of Equipment</h3>
          </div>
        </div>
      </div>
      <!-- schedule maintenance form -->
      <form class="mb-5 mt-md-6" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="row gy-3 overflow-hidden">
          <div class="col-md-12">
            <div class="form-floating mb-3">
              <!-- selecting the hospital through input -->
              <select name="hospitalId" class="form-control" id="hospitalId" formControlName="hospitalId"
                (change)="onHospitalSelect($event)">
                <option value="null">Please Choose</option>
                <option *ngFor="let hos of hospitalList" [value]="hos.id">{{ hos.name }}</option>
              </select>
              <!-- validating the hospital -->
              <label for="content" class="form-label">Hospitals</label>
              <div
                *ngIf="itemForm.controls['hospitalId'].invalid && (itemForm.controls['hospitalId'].dirty || itemForm.controls['hospitalId'].touched)"
                class="ng-dirty">
                <span *ngIf="itemForm.controls['hospitalId'].errors" class="text-danger">Please choose hospital.</span>
              </div>
            </div>
            <div class="form-floating mb-3">
              <!-- list of equipments for the particular hospital -->
              <select name="equipmentId" class="form-control" id="equipmentId" formControlName="equipmentId">
                <option value="null">Please Choose</option>
                <option *ngFor="let eq of equipmentList" [value]="eq.id">{{ eq.name }}</option>
              </select>
              <label for="content" class="form-label">Equipment</label>
              <div
                *ngIf="itemForm.controls['equipmentId'].invalid && (itemForm.controls['equipmentId'].dirty || itemForm.controls['equipmentId'].touched)"
                class="ng-dirty">
                <span *ngIf="itemForm.controls['equipmentId'].errors" class="text-danger">Please choose
                  Equipment.</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <!-- Schedule date for maintenance -->
                  <input type="date" name="scheduledDate" formControlName="scheduledDate" class="form-control"
                    id="scheduledDate" placeholder="Scheduled Date">
                  <label for="content" class="form-label">Scheduled Date</label>
                  <div
                    *ngIf="itemForm.controls['scheduledDate'].invalid && (itemForm.controls['scheduledDate'].dirty || itemForm.controls['scheduledDate'].touched)"
                    class="ng-dirty">
                    <span *ngIf="itemForm.controls['scheduledDate'].errors" class="text-danger">Please Enter Scheduled
                      Date.</span>
                  </div>
                </div>
              </div>
              <!-- Maintenance completion date -->
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="date" name="completedDate" formControlName="completedDate" class="form-control"
                    id="completedDate" placeholder="Completed Date">
                  <label for="completedDate" class="form-label">Completion Date</label>
                  <div
                    *ngIf="itemForm.controls['completedDate'].invalid && (itemForm.controls['completedDate'].dirty || itemForm.controls['completedDate'].touched)"
                    class="ng-dirty">
                    <span *ngIf="itemForm.controls['completedDate'].errors" class="text-danger">Please Enter Completed
                      Date.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- description for the maitanence -->
            <div class="form-floating mb-3">
              <input type="text" name="description" formControlName="description" class="form-control" id="description"
                placeholder="Description">
              <label for="description" class="form-label">Description</label>
              <div
                *ngIf="itemForm.controls['description'].invalid && (itemForm.controls['description'].dirty || itemForm.controls['description'].touched)"
                class="ng-dirty">
                <span *ngIf="itemForm.controls['description'].errors" class="text-danger">Please Enter
                  Description.</span>
              </div>
            </div>
            <!-- choosing the status -->
            <div class="form-floating mb-3">
              <select class="form-control" name="status" id="status" formControlName="status">
                <option value="null">Choose Status</option>
                <option value="Initiated">Initiated</option>
                <option value="Complete" disabled>Complete</option>
              </select>
              <label for="status" class="form-label">Status</label>
              <div
                *ngIf="itemForm.controls['status'].invalid && (itemForm.controls['status'].dirty || itemForm.controls['status'].touched)"
                class="ng-dirty">
                <span *ngIf="itemForm.controls['status'].errors" class="text-danger">Please choose status.</span>
              </div>
            </div>
            <div class="d-grid" style="padding-top: 40px;">
              <button class="btn btn-primary" type="submit" [disabled]="!itemForm.valid">Submit</button>
            </div>
            <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">{{ responseMessage }}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>