<h1 class="title1">Manage Orders</h1>

<!-- html components to filter the orders using the hospital name and order status -->
<div class="searchInput">
  <div class="filter-container">
    <input type="text" [(ngModel)]="searchInput" (input)="onSearchInput($event)" class="input"
      placeholder="Hospital Name">

    <select class="bt1 btn btn-sm btn-info dropdown-toggle dropdown" [(ngModel)]="selectedStatus">
      <option value="">All</option>
      <option value="Initiated">Initiated</option>
      <option value="Complete">Completed</option>
    </select>

    <button class="bt2 btn btn-sm filter-button" (click)="getOrdersfilter()">Filter by Status</button>

  </div>
</div>

<!-- html components to display orders -->
<div class="bg-image h-100">
  <div class="mask d-flex align-items-center h-100">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                style="position: relative; height: 700px">
                <table class="table table-striped mb-0">
                  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
                  <thead class="tablehead">
                    <tr class="heading1">
                      <th scope="col">Sr.No</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Status</th>
                      <th scope="col">Equipment</th>
                      <th scope="col">Hospital</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let val of orderList">
                    <tr>
                      <td>{{val.id}}</td>
                      <td>{{val.orderDate | date: 'dd-MMM-yyyy'}}</td>
                      <td>{{val.quantity}}</td>
                      <td>{{val.status}}</td>
                      <td>
                        <p>Id:{{val.equipment.id}}</p>
                        <p>Name:{{val.equipment.name}}</p>
                        <p>Description:{{val.equipment.description}}</p>
                      </td>
                      <td>
                        <p>Id:{{val.equipment.hospital.id}}</p>
                        <p>Name:{{val.equipment.hospital.name}}</p>
                        <p>Description:{{val.equipment.hospital.description}}</p>
                      </td>
                      <td>
                        <button data-bs-toggle="modal" (click)="edit(val)" data-bs-target="#driverModal"
                          class="btn btn-warning" [disabled]="val.status==='Complete'">Update Status</button>
                      </td>
                      <br>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- html components to display dialog box to change order status -->
<div class="modal fade" id="driverModal" tabindex="-1" aria-labelledby="driverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="driverModalLabel">Update Status </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to mark the status as <b>Completed</b>?</p>

        <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">
          {{responseMessage}}
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="update()">Yes</button>
      </div>
    </div>
  </div>
</div>