.heading1 {
  font-size: small;

}

.filter-container {
  display: flex;
  align-items: center;

}

.status-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;

  margin-left: 60%;

}

.searchInput {
  margin-left: 50px;
}

.filter-container {
  margin-left: 45%;
}

.filter-button {
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0056b3;
}

.input {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 35px;
}

.dropdown {
  height: 35px;
  margin-bottom: 10px;
}

.intro {
  height: 100%;
}

.title1 {
  margin-left: 6%;
  margin-bottom: 2%;
  margin-top: 1%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.modal-header {
  background-color: #002d72;
  color: white;
}

thead th {
  color: #fff;
  font-size: smaller;
}

.card {
  border-radius: .5rem;
  background-color: #fff;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  // font-size: 1.25rem;
  font-size: medium;

}

thead {
  top: 0;
  position: sticky;

}

.input {
  font-style: italic;
}

.bg-image h-100 {
  background-color: white;
}

.tablehead {
  background-color: #002d72;
  z-index: 8;
}