<!-- Home page -->
<div class="main">
    <div class="text">
        <h1 class="quote">
            Connecting <br>
            Medicos <br>
            Connecting <br>
            Lives
        </h1><br><br>
        <p>
            Streamlining Medical Equipment Management.<br>
            Effortless track, maintain, and allocate <br>
            medical equipment across healthcare facilites. <br>
            Connect hospital, maintenance teams, and suppliers <br>
            for seamless healthcare delivery.
        </p>
    </div>
    <div class="img">
        <img src="../../assets/img/doctors.png" width="450px" height="450px">
    </div>
</div>

<!-- About Us -->
<div class="main">
    <div class="left">
        <img src="../../assets/img/about-us.png" width="450px" height="450px">
    </div>
    <div class="right-text">
        <h3 class="quote">About Us</h3><br><br>
        <p>
            At our core, we are dedicated to revolutionizing healthcare equipment management. <br>
            Our platform streamlines the intricate processes involved in tracking, maintaining, <br>
            and distributing medical equipment within healthcare facilities. By connecting hospitals, <br>
            maintenance technicians, and suppliers, we ensure seamless collaboration for efficient <br>
            healthcare delivery.
        </p>
    </div>
</div>

<div class="mid-head">
    <h2>What We Offer!</h2>
</div>


<div class="main">
    <!-- Grid images -->
    <div class="container">
        <img src="../../assets/img/img1.jpg" alt="Avatar" class="image">
        <div class="overlay">
            <h3 class="img-head">Comprehensive Management</h3>
            <div class="img-text">Our platform enables hospitals to effectively manage their equipment inventory,
                schedule maintenance tasks, and submit equipment requests hassle-free.</div>
        </div>
    </div>
    <div class="container">
        <img src="../../assets/img/img2.jpg" alt="Avatar" class="image">
        <div class="overlay">
            <h3 class="img-head">Efficient Maintenance</h3>
            <div class="img-text">Maintenance technicians receive real-time updates on tasks, enabling them to promptly
                address maintenance needs and manage parts inventory efficiently.</div>
        </div>
    </div>
    <div class="container">
        <img src="../../assets/img/img3.jpg" alt="Avatar" class="image">
        <div class="overlay">
            <h3 class="img-head">Streamlined Procurement</h3>
            <div class="img-text">Suppliers gain insights into equipment demands, efficiently process orders, and manage
                shipments, ensuring timely delivery to healthcare facilities.</div>
        </div>
    </div>
</div>

<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <section class="">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="ratio" style="--bs-aspect-ratio: 50%;">
                    <iframe class="shadow-1-strong rounded" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                        title="YouTube video" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #3b5998; border-radius: 150%;" href="https://www.facebook.com/" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #55acee; border-radius: 150%;" href="https://twitter.com/" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Google -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #dd4b39; border-radius: 150%;" href="https://google.com/" role="button">
                <i class="fab fa-google"></i>
            </a>
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #ac2bac; border-radius: 150%;" href="https://instagram.com/" role="button"><i
                    class="fab fa-instagram"></i>
            </a>
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #0082ca; border-radius: 150%;" href="https://linkedin.com/" role="button"><i
                    class="fab fa-linkedin-in"></i>
            </a>
            <!-- Github -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                style="background-color: #333333; border-radius: 150%;" href="https://github.com/" role="button"><i
                    class="fab fa-github"></i>
            </a>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-body" href="">Mediconnect.com</a>
    </div>
</footer>